:root {
  --overlayColor: var(--backgray);
}

.bodyBox {
  width: 100%;
  background-color: var(--backgray);
  border-radius: 0px 0px 34px 34px;
}

.dateBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 0px 20px 0px 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  transition: height 0.3s ease;
}

.dateBox.slideFromPrev {
  animation: slideFromPrev 0.5s ease-in-out;
}

@keyframes slideFromPrev {
  from {
    transform: translateX(-5%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

.dateBox.slideFromNext {
  animation: slideFromNext 0.5s ease-in-out;
}

@keyframes slideFromNext {
  from {
    transform: translateX(5%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

.dateBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--overlayColor);
  transition: all 0.5s ease;
  z-index: 0;
}

.dateBox.filled::before {
  width: 100%;
}

.dateBox.unfilled::before {
  width: 0;
}

.notCurrentDate,
.currentDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  z-index: 1;
  transition: background 0.5s ease;
}

.notCurrentDate {
  color: rgba(0, 0, 0, 0.2);
}

.currentDate {
  cursor: pointer;
}

.btnBox {
  width: 100%;
  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
  background-color: white;
  border-radius: 0px 0px 34px 34px;
  padding: 10px 30px;
}

.btn {
  font-size: 14px;
  font-weight: 500;
}

.save {
  margin-right: auto;
  font-weight: 600;
  /* color: #c3bef0; */
}
